body {
    font-family: Georgia, 'Times New Roman', Times, serifs;
    background-color: rgb(244, 226, 192);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: .7rem;
    box-shadow: 8px 11px 6px rgba(0, 0, 0, 0.1);
  }
  
  .choices button {
    color: white;
    font-size: 1.8rem;
    margin: 0 .25rem;
    border-radius: .7rem;
    background-color: blue;
    cursor: pointer;
  }
  .choices button:hover {
    background-color: rgb(170 71 255);
  }
  
  .new-game {
    color: white;
    font-size: 1.8rem;
    margin: 0 .25rem;
    border-radius: .7rem;
    background-color: blue;
    cursor: pointer;
  }
  
  .new-game:hover {
    background-color: rgb(170 71 255);
  }

  p {
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }